<?php

namespace Drupal\{{ machine_name }}\Plugin\entity_fallback_value;

use Drupal\Core\Entity\EntityInterface;
use Drupal\entity_fallback_value\PluginManager\Plugin\AbstractEntityFallbackValuePlugin;
use Drupal\entity_fallback_value\PluginManager\Plugin\EntityFallbackValuePluginInterface;

/**
 * Plugin implementation for the entity value fallback.
 *
 * @EntityFallbackValuePluginAnnotation(
 *   id = "{{ plugin_id }}",
 *   label = "{{ plugin_label }}",
 *   applies_on = { {{ applies_on | join(',') | raw }} }
 * )
 */
class {{ class }} extends AbstractEntityFallbackValuePlugin implements EntityFallbackValuePluginInterface {

  /**
   * {@inheritdoc}
   */
  public function getEntityFallbackDefinitions(): array {
    // @todo :
    /* Ex.
    return [
      'title'       => [
        [$this, 'fieldCallbackExample'],
        'field_thumnail.field_string_1.value',
        'title.value',
      ],
    ];
    */
    return [];
  }

  /**
  * Return processed text.
  *
  * @param \Drupal\Core\Entity\EntityInterface $entity
  *   The entity.
  * @param string $field_name
  *   The field name.
  *
  * @return array
  *   The build array.
  */
  protected function fieldCallbackExample(EntityInterface $entity, string $fallback_key) {
    /*
    Try to get the value according to the fallback logic.

    The field_entity_1 refer to an referenced entity, that contains the field_text_1 field.
    */
    $value = $this->getFallbackValue(
      $entity,
      [
        'field_entity_1.field_text_1',
        'field_text_1',
      ],
      $fallback_key
    );

   // Format the value.
    return $value ? [
      '#type' => 'processed_text',
      '#text' => $value['value'] ?? '',
      '#format' => $value['format'] ?? 'plain_text',
    ] : [];
  }

}
